{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SGEEE | {% block title %}  {% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}" type="text/css" id="light-style">
    <link rel="stylesheet" href="{% static 'assets/css/app-dark.min.css' %}" type="text/css"id="dark-style">
</head>
<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": false}'>
    <!-- Begin page -->
    <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="leftside-menu">
        
        <!-- LOGO -->
        <a href="{% url 'dashboard'%}" class="logo text-center logo-light">
            <span class="logo-lg">
                <img src="assets/images/logo.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo_sm.png" alt="" height="16">
            </span>
        </a>
    
        <!-- LOGO -->
        <a href="index.html" class="logo text-center logo-dark">
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo_sm_dark.png" alt="" height="16">
            </span>
        </a>
    
        <div class="h-100" id="leftside-menu-container" data-simplebar="">
    
            <!--- Sidemenu -->
            <ul class="side-nav">
    
                <li class="side-nav-title side-nav-item">Apps</li>
                {% if request.user.admin %}
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                        <span> Staff </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEmail">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'students_profile:student_profile_list'%}">Tout le Staff</a>
                            </li>
                            <li>
                                <a href="{% url 'students_profile:student_profile_create'%}">Ajouter le Staff</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                        <span> Etudiants </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEmail">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'students_profile:student_profile_list'%}">Tout les étudiants</a>
                            </li>
                            <li>
                                <a href="{% url 'students_profile:student_profile_create'%}">Ajouter des étudiants</a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endif %}
            </ul>
            <!-- End Sidebar -->
    
            <div class="clearfix"></div>
    
        </div>
        <!-- Sidebar -left -->
    
    </div>
  <!-- Left Sidebar End -->
  <div class="content-page">
    <div class="content">
    {% include 'includes/navbar.html' %}
   
    {% block content %}

    {% endblock %}
        </div>
    {% include 'includes/footer.html' %}
    </div>


    </div>
    <!-- Right Sidebar -->

    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
</body>
</html>